@import "compass";

@import "custom";
@import "variables";
@import "mixins";

// Reset and dependencies
@import "normalize";
@import "print";

// Core CSS
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "animation";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "tags";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "responsive-embed";
@import "close";

// Components w/ JavaScript
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";

// Utility classes
@import "utilities";

[off-canvas] {
	background-color: $pre-bg; /* Basic background color, overwrite this in your own css. */
	color: $pre-color; /* Basic colors, overwrite this in your own css. */
}

#landInfoDiv{
	padding:0.5rem;
	white-space: nowrap;
	width:100%;
}

#drawingDiv{
	margin-left:10px;
	margin-top:10px;
}

#drawingDiv{
	.mainLine{
		stroke: #777;
		stroke-width: 1;
	}
	.subLine{
		stroke: #bbb;
		stroke-width: 1;
	}

	#drawing{

	}
}
